In [61]:
import pandas as pd

#Get tuition data
df = pd.read_csv('CollegeTuitionData.csv', encoding = "ISO-8859-1", header = None)
tuitionData = pd.concat([df[0], df[4]], axis=1)

#Get salary data
df2 = pd.read_csv('salaries-by-college-type.csv', encoding = "ISO-8859-1", header = None)
df2 = df2.drop(0)
salaryData = pd.concat([df2[0], df2[1], df2[2]], axis=1)

#Get region data
df3 = pd.read_csv('salaries-by-region.csv', encoding = "ISO-8859-1", header = None)
df3 = df3.drop(0)
regionData = pd.concat([df3[0], df3[1], df3[2]], axis=1)

In [58]:
import re
colleges = list()
tuitions = list()
salaries = list()
collegeType = list()
regions = list()
for row in salaryData.iterrows():
    college = row[1][0]
    college = re.sub("[\(\[].*?[\)\]]", "", college)
    for row2 in tuitionData.iterrows():
        college2 = row2[1][0]
        if (college == college2):
            colleges.append(college)
            tuitions.append(row2[1][4])
            salaries.append(row[1][2])
            collegeType.append(row[1][1])

63

In [63]:
collegesRegion = df3[0]
count = 0
for college in colleges:
    if (college in collegesRegion):
        count = count+1
count

0

In [59]:
collegeData = pd.DataFrame(
    {'College': colleges,
     'Tuition': tuitions,
     'Salary': salaries,
     'College Type': collegeType
    })
collegeData

                                 College  College Type       Salary   Tuition
0                        Amherst College  Liberal Arts  $54,500.00   $71,240
1                      Auburn University         State  $45,400.00   $44,691
2                          Bates College  Liberal Arts  $47,300.00   $67,080
3                        Bowdoin College  Liberal Arts  $48,100.00   $68,619
4                       Brown University    Ivy League  $56,200.00   $70,137
5                    Bucknell University  Liberal Arts  $54,100.00   $69,821
6                     Clemson University         State  $48,400.00   $47,247
7                          Colby College  Liberal Arts  $46,400.00   $69,451
8                     Colgate University  Liberal Arts  $52,800.00   $70,200
9              College of the Holy Cross  Liberal Arts  $50,200.00   $66,997
10              Colorado School of Mines   Engineering  $58,100.00   $51,306
11                   Columbia University    Ivy League  $59,400.00   $71,438
12                    Cornell University    Ivy League  $60,300.00   $69,870
13                     Dartmouth College    Ivy League  $58,000.00   $70,833
14                      Davidson College  Liberal Arts  $46,100.00   $66,459
15                    Denison University  Liberal Arts  $42,000.00   $65,281
16                     DePauw University  Liberal Arts  $41,400.00   $62,868
17         Eastern Washington University         State  $38,600.00   $35,660
18         Franklin and Marshall College  Liberal Arts  $49,100.00   $70,583
19               George Mason University         State  $47,800.00   $46,863
20       Georgia Institute of Technology   Engineering  $58,300.00   $46,287
21              Georgia State University         State  $41,800.00   $40,541
22                    Gettysburg College  Liberal Arts  $44,700.00   $67,819
23                      Hamilton College  Liberal Arts  $49,200.00   $68,817
24                    Harvard University    Ivy League  $63,400.00   $68,233
25                       Juniata College  Liberal Arts  $41,800.00   $58,152
26                     Lafayette College  Liberal Arts  $53,900.00   $68,526
27                 Lewis & Clark College  Liberal Arts  $38,900.00   $63,528
28                    Middlebury College  Liberal Arts  $47,700.00   $70,163
29                 Mount Holyoke College  Liberal Arts  $42,400.00   $64,480
..                                   ...           ...          ...       ...
33                  Princeton University    Ivy League  $66,500.00   $66,144
34                Randolph-Macon College         Party  $42,600.00   $54,049
35                Randolph-Macon College  Liberal Arts  $42,600.00   $54,049
36                          Reed College  Liberal Arts  $40,500.00   $70,585
37                         Siena College  Liberal Arts  $45,500.00   $53,043
38                      Skidmore College  Liberal Arts  $41,600.00   $69,108
39                         Smith College  Liberal Arts  $44,000.00   $69,445
40                      St. Olaf College  Liberal Arts  $45,300.00   $56,430
41       Stevens Institute of Technology   Engineering  $60,600.00   $68,125
42                    Swarthmore College  Liberal Arts  $49,700.00   $68,405
43                         Union College  Liberal Arts  $47,200.00   $69,273
44                 University of Arizona         State  $47,500.00   $51,792
45       University of California, Davis         State  $52,300.00   $60,873
46                University of Delaware         State  $45,900.00   $45,959
47  University of Maryland, College Park         Party  $52,000.00   $47,434
48  University of Maryland, College Park         State  $52,000.00   $47,434
49             University of Mississippi         Party  $41,400.00   $35,418
50             University of Mississippi         State  $41,400.00   $35,418
51                  University of Oregon         State  $42,200.00   $47,903
52            University of Pennsylvania    Ivy League  $60,900.00   $71,344
53                University of Richmond  Liberal Arts  $48,600.00   $65,239
54          University of Southern Maine         State  $39,400.00   $32,479
55                    University of Utah         State  $45,400.00   $37,195
56                       Ursinus College  Liberal Arts  $42,100.00   $65,436
57                        Vassar College  Liberal Arts  $46,000.00   $70,834
58                     Wellesley College  Liberal Arts  $42,800.00   $69,663
59     Wentworth Institute of Technology   Engineering  $53,000.00   $50,095
60                       Whitman College  Liberal Arts  $43,500.00   $64,796
61                      Williams College  Liberal Arts  $51,700.00   $70,408
62                       Yale University    Ivy League  $59,100.00   $69,576

[63 rows x 4 columns]

In [20]:
tuitionTranspose = tuitionData.transpose()
tuitionTranspose = tuitionTranspose.rename(columns=tuitionTranspose.iloc[0])
#tuitionTranspose.drop(1)
salarayTranspose = salaryData.transpose()
salarayTranspose = salarayTranspose.rename(columns=salarayTranspose.iloc[0])
#salarayTranspose.drop(1)
tuitionTranspose

ValueError: labels [1] not contained in axis

In [17]:
df = pd.concat([tuitionTranspose, salarayTranspose], join='inner', ignore_index=True)
df

ValueError: Plan shapes are not aligned