In [47]:
import pandas as pd
df = pd.read_csv('CollegeTuitionData.csv', encoding = "ISO-8859-1", header = None)
tuitionData = pd.concat([df[0], df[4]], axis=1)
df2 = pd.read_csv('salaries-by-college-type.csv', encoding = "ISO-8859-1", header = None)
df2 = df2.drop(0)
salaryData = pd.concat([df2[0], df2[1], df2[2]], axis=1)
pd.concat([tuitionData, salaryData], axis=1)

,0,4,0,1,2
0,Adelphi University,"$54,184",NaN,NaN,NaN
1,Agnes ScottåÊCollege,"$66,456",Amherst College,Liberal Arts,"$54,500.00"
2,Albany College of Pharmacy,"$45,428",Appalachian State University,State,"$40,400.00"
3,Alfred University,"$45,288",Arizona State University (ASU),Party,"$47,400.00"
4,Allegheny College,"$55,786",Arizona State University (ASU),State,"$47,400.00"
5,American International College,"$49,941",Arkansas State University (ASU),State,"$38,700.00"
6,American University,"$61,754",Auburn University,State,"$45,400.00"
7,Amherst College,"$71,240",Austin Peay State University,State,"$37,700.00"
8,Andrews University,"$38,286",Ball State University (BSU),State,"$39,100.00"
9,Anna Maria College,"$53,061",Bates College,Liberal Arts,"$47,300.00"
10,Arcadia University,"$56,597",Binghamton University,State,"$53,600.00"
11,Arizona State University,"$40,308",Black Hills State University,State,"$35,300.00"
12,Assumption College,"$53,866",Boise State University (BSU),State,"$40,800.00"
13,Auburn University,"$44,691",Bowdoin College,Liberal Arts,"$48,100.00"
14,Ave Maria University,"$32,069",Bowling Green State University,State,"$39,800.00"
15,Babson College,"$64,646",Brown University,Ivy League,"$56,200.00"
16,Bard College,"$70,144",Bucknell University,Liberal Arts,"$54,100.00"
17,Barnard College,"$69,661",Cal Poly San Luis Obispo,State,"$57,200.00"
18,Barry University,"$40,976",California Institute of Technology (CIT),Engineering,"$75,500.00"
19,Barton College,"$41,448","California State University (CSU), Chico",State,"$47,400.00"
20,Bates College,"$67,080","California State University (CSU), Stanislaus",State,"$38,000.00"
21,Bay Path University,"$48,210","California State University, Dominguez Hills (...",State,"$42,700.00"
22,Baylor University,"$56,402","California State University, East Bay (CSUEB)",State,"$49,200.00"
23,Becker College,"$53,820","California State University, Fullerton (CSUF)",State,"$45,700.00"
24,Belmont University,"$45,469","California State University, Long Beach (CSULB)",State,"$45,100.00"
25,Bennington College,"$69,639","California State University, Northridge (CSUN)",State,"$45,500.00"
26,Bentley University,"$66,269","California State University, Sacramento (CSUS)",State,"$47,800.00"
27,Berklee College of Music,"$63,367",Carleton College,Liberal Arts,"$47,500.00"
28,Bethel University,"$48,412",Carnegie Mellon University (CMU),Engineering,"$61,800.00"
29,Biola University,"$50,634",Clemson University,State,"$48,400.00"
...,...,...,...,...,...
448,Waynesburg University,"$35,183",NaN,NaN,NaN
449,Wellesley College,"$69,663",NaN,NaN,NaN
450,Wells College,"$55,463",NaN,NaN,NaN
451,Wentworth Institute of Technology,"$50,095",NaN,NaN,NaN
452,Wesleyan University,"$70,637",NaN,NaN,NaN
453,West Chester University,"$21,723",NaN,NaN,NaN
454,West Virginia University,"$36,831",NaN,NaN,NaN
455,Western Connecticut State University,"$37,926",NaN,NaN,NaN
456,Western New England University,"$51,150",NaN,NaN,NaN
457,Westfield State University,"$27,083",NaN,NaN,NaN
458,Westminster College (PA),"$31,790",NaN,NaN,NaN
459,"Westminster College, Salt Lake City","$44,899",NaN,NaN,NaN
460,"Wheaton College, Illinois","$47,258",NaN,NaN,NaN
461,"Wheaton College, Norton","$66,371",NaN,NaN,NaN
462,Wheelock College,"$53,378",NaN,NaN,NaN
463,Whitman College,"$64,796",NaN,NaN,NaN
464,Whittier College,"$62,431",NaN,NaN,NaN
465,Widener University,"$61,385",NaN,NaN,NaN
466,Wilkes University,"$50,469",NaN,NaN,NaN
467,Williams College,"$70,408",NaN,NaN,NaN
468,Wingate University,"$43,576",NaN,NaN,NaN
469,Winston-Salem State University,"$29,387",NaN,NaN,NaN
470,Winthrop University,"$39,199",NaN,NaN,NaN
471,Wofford College,"$56,259",NaN,NaN,NaN
472,Worcester Polytechnic Institute,"$65,568",NaN,NaN,NaN
473,Worcester State University,"$24,729",NaN,NaN,NaN
474,Xavier University of Louisiana,"$28,310",NaN,NaN,NaN
475,"Xavier University, Ohio","$51,475",NaN,NaN,NaN
476,Yale University,"$69,576",NaN,NaN,NaN
477,York College of Pennsylvania,"$31,470",NaN,NaN,NaN