In [38]:
import pandas as pd
df = pd.read_csv('CollegeTuitionData.csv', encoding = "ISO-8859-1", header = None)
tuitionData = pd.concat([df[0], df[4]], axis=1)
df2 = pd.read_csv('salaries-by-college-type.csv', encoding = "ISO-8859-1", header = None)
df2 = df2.drop(0)
salaryData = pd.concat([df2[0], df2[1], df2[2]], axis=1)
salaryData

,0,1,2
1,Amherst College,Liberal Arts,"$54,500.00"
2,Appalachian State University,State,"$40,400.00"
3,Arizona State University (ASU),Party,"$47,400.00"
4,Arizona State University (ASU),State,"$47,400.00"
5,Arkansas State University (ASU),State,"$38,700.00"
6,Auburn University,State,"$45,400.00"
7,Austin Peay State University,State,"$37,700.00"
8,Ball State University (BSU),State,"$39,100.00"
9,Bates College,Liberal Arts,"$47,300.00"
10,Binghamton University,State,"$53,600.00"
11,Black Hills State University,State,"$35,300.00"
12,Boise State University (BSU),State,"$40,800.00"
13,Bowdoin College,Liberal Arts,"$48,100.00"
14,Bowling Green State University,State,"$39,800.00"
15,Brown University,Ivy League,"$56,200.00"
16,Bucknell University,Liberal Arts,"$54,100.00"
17,Cal Poly San Luis Obispo,State,"$57,200.00"
18,California Institute of Technology (CIT),Engineering,"$75,500.00"
19,"California State University (CSU), Chico",State,"$47,400.00"
20,"California State University (CSU), Stanislaus",State,"$38,000.00"
21,"California State University, Dominguez Hills (...",State,"$42,700.00"
22,"California State University, East Bay (CSUEB)",State,"$49,200.00"
23,"California State University, Fullerton (CSUF)",State,"$45,700.00"
24,"California State University, Long Beach (CSULB)",State,"$45,100.00"
25,"California State University, Northridge (CSUN)",State,"$45,500.00"
26,"California State University, Sacramento (CSUS)",State,"$47,800.00"
27,Carleton College,Liberal Arts,"$47,500.00"
28,Carnegie Mellon University (CMU),Engineering,"$61,800.00"
29,Clemson University,State,"$48,400.00"
30,Cleveland State University,State,"$43,500.00"
...,...,...,...
240,University of Wisconsin (UW) - Milwaukee,State,"$42,300.00"
241,University of Wisconsin (UW) - Oshkosh,State,"$39,300.00"
242,University of Wisconsin (UW) - Parkside,State,"$40,700.00"
243,University of Wisconsin (UW) - Platteville,State,"$45,800.00"
244,University of Wisconsin (UW) - Stevens Point,State,"$39,800.00"
245,University of Wisconsin (UW) - Stout,State,"$43,600.00"
246,University of Wisconsin (UW) - Whitewater,State,"$40,800.00"
247,University of Wyoming (UW),State,"$44,500.00"
248,Ursinus College,Liberal Arts,"$42,100.00"
249,Utah State University,State,"$43,800.00"
250,Utah Valley State College,State,"$42,400.00"
251,Vassar College,Liberal Arts,"$46,000.00"
252,Virginia Commonwealth University (VCU),State,"$42,000.00"
253,Virginia Polytechnic Institute and State Unive...,Engineering,"$53,500.00"
254,Washington and Lee University,Liberal Arts,"$53,600.00"
255,Washington State University (WSU),State,"$45,300.00"
256,Wayne State University,State,"$42,800.00"
257,Wellesley College,Liberal Arts,"$42,800.00"
258,Wentworth Institute of Technology,Engineering,"$53,000.00"
259,"Wesleyan University (Middletown, Connecticut)",Liberal Arts,"$46,500.00"
260,West Virginia University (WVU),Party,"$43,100.00"
261,West Virginia University (WVU),State,"$43,100.00"
262,Western Carolina University,State,"$36,900.00"
263,Western Michigan University (WMU),State,"$42,300.00"
264,Western Washington University,State,"$42,700.00"
265,Whitman College,Liberal Arts,"$43,500.00"
266,Williams College,Liberal Arts,"$51,700.00"
267,Wittenberg University,Liberal Arts,"$39,200.00"
268,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00"
269,Yale University,Ivy League,"$59,100.00"

In [42]:
import re
colleges = list()
tuitions = list()
salaries = list()
collegeType = list()
for row in salaryData.iterrows():
    college = row[1][0]
    college = re.sub("[\(\[].*?[\)\]]", "", college)
    for row2 in tuitionData.iterrows():
        college2 = row2[1][0]
        if (college == college2):
            print (college)
#             colleges.append(college)
#             tuitions.append(row2[1][1])
#             salaries.append(row[1][2])
#             collegeType.append(row[1][1])

KeyError: 1

In [20]:
tuitionTranspose = tuitionData.transpose()
tuitionTranspose = tuitionTranspose.rename(columns=tuitionTranspose.iloc[0])
#tuitionTranspose.drop(1)
salarayTranspose = salaryData.transpose()
salarayTranspose = salarayTranspose.rename(columns=salarayTranspose.iloc[0])
#salarayTranspose.drop(1)
tuitionTranspose

ValueError: labels [1] not contained in axis

In [17]:
df = pd.concat([tuitionTranspose, salarayTranspose], join='inner', ignore_index=True)
df

ValueError: Plan shapes are not aligned